<!-- Modal for persistence prompt -->
<div class="modal fade" id="persistModal" tabindex="-1" aria-labelledby="persistModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="persistModalLabel">Persist Contact Selections?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you want to save the current contact selections before navigating or closing?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="persistNoBtn">No</button>
                <button type="button" class="btn btn-primary" id="persistYesBtn">Yes</button>
            </div>
        </div>
    </div>
</div>
