<!-- Sector Delete Modal -->
<div class="modal fade" id="deleteSectorModal" tabindex="-1" aria-labelledby="deleteSectorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteSectorModalLabel">Delete Sector</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select id="deleteSectorSelect" class="form-control">
                    <!-- Options will be populated by JS -->
                </select>
                <div id="deleteSectorError" class="text-danger mt-2"></div> <!-- Error message -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="deleteSector">Delete</button>
            </div>
        </div>
    </div>
</div>
