<!-- MTag Modal -->
<div class="modal fade" id="mtagModal" tabindex="-1" role="dialog" aria-labelledby="mtagModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="mtagModalLabel">Add New Tag</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                @{
                    var s = new MTag();
                    <partial name="_MTagAdd" model="s" />
                }
            </div>
        </div>
    </div>
</div>
